*{
    margin: 0;
    font-size: 11px; text-align: center;
    font-family: 'Kumbh Sans', sans-serif;

    a{
        color: #3e52a3;
    }
box-sizing: border-box;

}


html {
    font-size: 62.5%;
    box-sizing: border-box;
  }




$Darkcyan: hsl(185, 75%, 39%);
$Verydarkdesaturatedblue: hsl(229, 23%, 23%);
$Darkgrayishblue: hsl(227, 10%, 46%);